<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BalancaSolution.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <requiredRuntime version="v4.0.20506" />
  </startup>
    <userSettings>
        <BalancaSolution.Properties.Settings>
            <setting name="Balanca" serializeAs="String">
                <value>Toledo/810</value>
            </setting>
            <setting name="Modo_Log" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Porta_Serial" serializeAs="String">
                <value>COM2</value>
            </setting>
        </BalancaSolution.Properties.Settings>
    </userSettings>
</configuration>
